#imageContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(24, 119, 72);
  height: 300px;
  width: 350px;
  justify-content: center;
  align-items: center;
}

#image {
  height: 200px;
  width: 200px;
}
